header {
  width: 100vw;
  margin: 0;
  padding: 0;
  background-color: rgb(41, 144, 41);
}
nav {
  width: 100vw;
  display: flex;
  flex-direction: row;  
  justify-content: flex-end;
  

}
.brand{
  margin-right: auto;
  background: black;
  
  
}

a {
  margin: 20px 10px;
  padding: 10px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  cursor: pointer;
  background-color: black;
  border-radius: 10px;
  
}
a:hover,
a:active {
  background: rgb(255, 255 , 255);
  color: black;
}

.new-entry-headline {
  color: gray;
}

@media screen and (min-width: 700px) {
  
}
