header {
  width: 100vw;
  margin: 0;
  padding: 0;
}
nav {
  display: flex;
  flex-direction: row;  
  justify-content: flex-end;
  

}
.brand{
  margin-right: auto;
  
  
}

a {
  margin: 20px 10px;
  padding: 10px;
  text-decoration: none;
  
}
