.new-entry-headline {
  display: felx;
  text-align: right;
  width: 300px;
  padding: 40px;
}
.headline-text {
  color: #f2f4f6;
}

.new-entry-div {
  
width: 400px;

margin: 0 auto;
  
}


.new-entry-box {
  box-shadow: 5px 10px 60px grey;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #4363ee;
  opacity: .9;
  
}

 input, textarea {
  font-family: 'Palanquin Dark', sans-serif;
  border-radius: 8px;
  width: 350px;
  height: 45px;
  text-align: center;
  background-color: rgb(165, 250, 239);
  opacity: .5;
  font-size: 20px;
  
}
label {
  font-family: 'Allerta Stencil', sans-serif;
  color:rgb(241, 242, 245);
  padding: 10px;
  font-size: 20px;
}

textarea {
  height: 65px;
  margin-bottom: 10px;
}
:placeholder-shown {
  font-family: 'Palanquin Dark', sans-serif;
  text-align: center;
  font-size: 20px;
}
.button {
display: flex;
font-size: bold;
justify-content: center;
align-items: center;
text-align: center;
margin-top: 40px;
width: 150px;
height: 50px;
border-radius: 8px;
padding-top: 20px;
color: rgb(1, 1, 22);
}

.button-link {
  
  background:green;
}
.button-link:hover, 
.button-link:active {
  background: none;
}





@media screen and (min-width: 700px) {
  .new-entry-headline {
   
    font-size: 25px;
     width: 400px;
    height: 400px;
    padding: 70px;   

  }

  input, textarea {
    border-radius: 8px;
    width: 600px;
    height: 60px;
    
  }

  .new-entry-div {
  

    width: 700px;
    
    margin: 0 auto;
      
    }


  .new-entry-box {
    box-shadow: 5px 10px 60px grey;
    padding: 80px;
    display: flex;
    
    
  }

  textarea {
    height: 80px;
  }

}
