.list {
  display: inline-grid;
  width: 250px;
  padding: 20px;
  border: 1px solid green;
 margin: 0 auto;

  
  
  
}
.track-calories {
  text-align: center;
}

.entries {
  /* text-align: center; */
}