body {
  text-align: center;
  background-color: orange;
}


.list {
  display: inline-grid;
  width: 400px;
  padding: 20px;
  
}
.track-calories {
  text-align: center;
  color: rgb(37, 32, 32);
  font-weight: bolder;
  font-family: 'Bungee Inline', cursive;
}
.daily-calories {
  color: rgb(7, 7, 139);
  font-weight: bold;
}

.entries {
  font-family: "Quicksand", sans-serif;
  background: #4363ee;
  opacity: 0.9;
  color: rgb(217, 236, 173);

  padding: 20px;
  text-align: left;
  border-radius: 20px;
  font-size: 14px;
}

.total {
  color: rgb(137, 211, 18);
  font-weight: bolder;
  font-size: 25px;
}
.delete {
  color: Black;
}
