body {
  text-align: center;
}


.list {
  display: inline-grid;
  width: 400px;
  ;
  padding: 20px;
  
  
  

  
  
  
}
.track-calories {
  text-align: center;
}

.entries {
  background: rgb(104, 89, 110);
  color: white;
  border: 1px solid green;
  padding: 20px;
  text-align: left;
  border-radius: 20px;
  font-size: 14px;
  
}
 body {
   background-color: rgb(232, 237, 243);
 }