Iframe {
  display: flex;
  justify-content: center;
  
  width: 80vw;
  height: 100vh;
  margin: 0 auto;
  margin-top: 60px;
  border: 5px solid rgb(37, 159, 240);

}

.calculator {
  display: flex;
  justify-content: center;
  
  width: 80vw;
  height: 100vh;
  margin: 0 auto;
  margin-top: 60px;
}
.main-nut-div {
  display: inline-block;
 justify-content: center;
 align-items: center;
}
.nutrition {
  
  display: grid;
  grid-template-columns:  200px 200px 200px ;
  /* width: 300px; */
  justify-items: center;
  cursor: pointer;
 
 
  
}

.image {
  width: 100px;
  height: 100px;

}
.info {
  font-size: 14px;
  font-family: 'Quicksand', sans-serif;
}
.results {
  font-family: 'Fredericka the Great', cursive;
  font-size: 20px;
  font-weight: bold;
  margin: 20px 10px;
  padding: 10px;
  text-decoration: none;
  color: rgb(243, 248, 229);
  cursor: pointer;
  background-color: rgb(11, 212, 128);
  border-radius: 10px;
}

.search-box {
  margin-top: 50px;
  margin: 0, auto;
}
button.search  {
  background: rgb(37, 159, 240); 
  color: white ;
  font-size: 20px;
  font-weight: bold;
  width: 150px;
  height: 60px;
  border-radius: 8px;
  margin-bottom: 3px;
  display: flex; 
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-left: 240px;
  cursor: pointer;
  border: 5px solid rgb(37, 159, 240);;
  outline: none;
  

}

.search:hover,
.search:active {
  background: white;
  color: rgb(70, 83, 97);
}


@media screen and (min-width: 700px) {

  .calculator, Iframe {
    width: 80vw;
  }
  
}

